@import url('../variables.css');

.project {
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.project h3 {
    color: var(--accent-color);
    margin-bottom: 10px;
}

.project ul {
    list-style-type: none;
    padding: 0;
}

.project ul li {
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.project ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.project ul li a:hover {
    color: var(--accent-color);
}

.projects-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.projects-list li {
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background-color: #0056b3;
}
